<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.happyretired"
    android:versionCode="24"
    android:versionName="1.6.3" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
     <!-- Required to access Google Play Licensing -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <!-- Required to download files from Google Play -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required to keep CPU alive while downloading files
        (NOT to keep screen awake) -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.hardware.telephony" android:required="false" />
    
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- Required to show current location -->
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
 
    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <permission
        android:name="info.happyretired.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="info.happyretired.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="" 
        android:theme="@style/AppTheme" >
        
        <activity android:name="info.happyretired.activity.HomeActivity"
            android:label="目錄" 
            />
        
        <activity android:name="info.happyretired.activity.blog.BlogTabsActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"/>
        
        <activity  android:name="info.happyretired.activity.blog.BlogDetailsActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait"/>
        
        <activity android:name="info.happyretired.activity.event.EventTabsActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"/>
        
        <activity  android:name="info.happyretired.activity.event.EventDetailsActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait"/>
        
        <activity android:name="info.happyretired.activity.volunteer.VolunteerTabsActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"/>
        
        <activity  android:name="info.happyretired.activity.volunteer.VolunteerDetailsActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait"/>
        
        <activity android:name="info.happyretired.activity.job.JobTabsActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"/>
        
        <activity  android:name="info.happyretired.activity.job.JobDetailsActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait"/>
        
        <activity android:name="info.happyretired.activity.forum.ForumTabsActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"/>
        
        <activity  android:name="info.happyretired.activity.forum.ForumDetailsActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait"/>
        
        <activity  android:name="info.happyretired.activity.blog.BloggerPostListActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait"/>
        
        <activity android:name="info.happyretired.activity.jetso.JetsoTabsActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"/>
        
        <activity  android:name="info.happyretired.activity.jetso.JetsoDetailsActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait"/>
        
        <activity  android:name="info.happyretired.activity.ViewPagerExampleActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait"/>
        
         <activity  android:name="info.happyretired.activity.UserSettingActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait"/>
         
         <!--  Login Activity -->
        <activity
            android:label="會員登入"
            android:name="info.happyretired.activity.LoginActivity"></activity>
 
        <!--  Register Activity -->
        <activity
            android:label="會員註冊"
            android:name="info.happyretired.activity.RegisterActivity"></activity>
        
        <!--  Register Activity -->
        <activity
            android:screenOrientation="portrait"
            android:label="個人資料"
            android:name="info.happyretired.activity.userprofile.PersonalDetailsActivity"></activity>
        
        <activity
            android:screenOrientation="portrait"
            android:label=""
            android:name="info.happyretired.activity.userprofile.ProfileActivity"></activity>
        
        <activity
            android:screenOrientation="portrait"
            android:label="回覆" 
            android:name="info.happyretired.activity.forum.ReplyActivity"></activity>
        
         <activity
            android:screenOrientation="portrait"
            android:label="已回覆的話題" 
            android:name="info.happyretired.activity.forum.ForumShowTopicByUserIdActivity"></activity>
        
        <activity
            android:screenOrientation="portrait"
            android:name="info.happyretired.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:screenOrientation="portrait"
            android:label="地圖" 
            android:name="info.happyretired.activity.MapActivity"></activity>
        
        <!-- Goolge API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCLRcuGwJTWNCqNk9y2yCq6wEAiz09i4Y0" />
        
        <!-- prod: 		AIzaSyCLRcuGwJTWNCqNk9y2yCq6wEAiz09i4Y0 -->
        <!-- testing:	AIzaSyCTLk865wPGvd0-JZuaD2Yd3PPvgfY6UQw -->
        
        <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />       
        
        <receiver android:name="info.happyretired.BootReceiver">
	        <intent-filter> 
	            <action android:name="android.intent.action.BOOT_COMPLETED" />
	            <action android:name="android.intent.action.QUICKBOOT_POWERON" />
       	 	</intent-filter> 
   		 </receiver>
   		 
        <service android:name="info.happyretired.service.NotificationService" 
            android:enabled="true"/>
        
    
    </application>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
